.forgotPassword{
    background: linear-gradient( #ffb3c1, #589ff1 );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87.4vh;
}

.forgotPassword form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.403);
    border-radius: 10px;

}


.forgotPassword h1{
    text-align: center;
}

.forgotPassword form .message{
    color: #2735af;
    font-size: 15px;
    font-weight: bold;
}


.forgotPassword input{
    width: 100%;
    padding: 5px;
    border: 2px solid #589ff1;
}


.forgotPassword p{
    font-size: 13px;
    color: red;
}

.forgotPassword button{
    background-color: #f2778d;
    border:none;
    box-shadow: 4px 2px 6px 0px rgba(116, 114, 114, 0.619);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 550;
}

@media (max-width: 597px) and (min-width: 473px) {
    
    .forgotPassword form{
        gap: 3px;
        padding: 20px 40px;
    }
    
    
    .forgotPassword h1{
        font-size: 25px;
    }
    
    .forgotPassword form .message{
        font-size: 13px;
    }
    
    
    .forgotPassword input{
        width: 100%;
        padding: 4px;
    }
    
    
    .forgotPassword button{
        font-size: 14px;
    }
}

@media (max-width: 473px){
    .forgotPassword form{
        gap: 3px;
        padding: 20px 20px;
    }
    
    
    .forgotPassword h1{
        font-size: 22px;
    }
    
    .forgotPassword form .message{
        font-size: 13px;
    }
    
    
    .forgotPassword input{
        width: 100%;
        padding: 4px;
    }
    
    
    .forgotPassword button{
        font-size: 15px;
    }
}

